@{
    ViewData["Bienvenidos"] = "'@Url.Action("SelectPaquete")'";
}

<div>
  <a href='@Url.Action("SelectPaquete")'></a>
  <h1>TPindex</h1>
  <p>bienvenidos al tp 4_Engelberg</p>

  @foreach(string ciudad in ViewBag.Paquetes.Keys)
  {
    <p>Aerolineas: @ViewBag.Paquetes[ciudad].Aerolineas</p>
    <p>Hoteles: @ViewBag.Paquetes[ciudad].Hoteles</p>
    <p>Hoteles: @ViewBag.Paquetes[ciudad].Excursion</p>
  }
</div>